
header {
    margin-bottom: 40px;
    border-bottom: solid 1px pink;
}

header button {
    display: inline-block;
    min-width: 40px;
    min-height: 40px;
    margin: 4px;
    padding: 16px;
    border-radius: 4px;
}

footer {
    margin-top: 40px;
    border-top: solid 1px pink;
    clear: both;
}
footer p {
    text-align: center;
    font-size: x-small;
}

.dayHeader {
    display: inline-block;
}

.dayHeader div {
    display: inline-block;
    width: 100px;
    border: 1px solid pink;
    background-color: pink;
    text-align: center;
}

.days {
}

.day {
    float: left;
    width: 100px;
    min-height: 100px;
    text-align: center;
    border: 1px solid pink;
}

.day.Sun {
    background-color: #E074D0;
    clear:both;
}

.day.Sat {
    background-color: #88AAFF;
}

.day.today {
    background-color: yellow;
}

.past.day {
    background-color: #aaa;
}


.items {
    margin-left: 2px;
    text-align:left;
    font-size:60%;
    /*clear: both;*/
    list-style-type: none;
}