body {
    font-family: 'Roboto', sans-serif;
}


header {
    margin-bottom: 20px;
    /*border-bottom: solid 1px pink;*/
}

header .year_month{
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}

footer {
    margin-top: 40px;
    border-top: solid 1px pink;
    clear: both;
}
footer p {
    text-align: center;
    font-size: x-small;
}

.dayHeader {
    display: inline-block;
}

.dayHeader div {
    display: inline-block;
    width: 100px;
    border: 1px solid pink;
    background-color: pink;
    text-align: center;
}

.days {
}

.day {
    float: left;
    width: 100px;
    min-height: 100px;
    text-align: center;
    border: 1px solid pink;
}

.day.Sun {
    background-color: #E074D0;
    clear:both;
}

.day.Sat {
    background-color: #88AAFF;
}

.day.today {
    background-color: yellow;
}

.past.day {
    background-color: #eee;
}


.items {
    margin: 2px 0 0 0;
    padding: 2px 0px 1px 2px;
    text-align:left;
    font-size:60%;
    /*clear: both;*/
    list-style-type: none;
    /*word-wrap: break-word;*/
    word-break:break-all;
}

.items li:hover {
    background-color: #fdd;
}
